{{#if attributes.overview_actionLabel}}
	<br /><br />
	<a href="{{url ""}}/apis/devices/sketch/download?sketchType={{attributes.sketches_Sketches}}&deviceType={{attributes.overview_name}}" class="blue-button">{{attributes.overview_actionLabel}}</a>
{{/if}}