{{#if overview_actionUrl}}
	{{#if overview_actionLabel}}
        <br /><br />
		<a href="{{url ""}}/apis/devices/sketch/download?sketchType={{sketches_sketches}}&deviceType={{overview_deviceTypeName}}" class="blue-button">{{overview_actionLabel}}</a>
	{{/if}}
{{/if}}