<div class="wr-modalpopup">
    <div class="modalpopup-container" style="margin-top: 0px;">
        <div class="modalpopup-close-btn" onclick="hidePopup();">
            <span class="fw-stack">
                <i class="fw fw-ring fw-stack-2x"></i>
                <i class="fw fw-left-arrow fw-stack-1x"></i>
            </span>
            GO BACK
        </div>
        <div class="modalpopup-content" style="max-height: 384.3px;"><!-- dynamic content --></div>
    </div>
    <div class="modalpopup-bg"></div>
</div>