<div class="row no-gutter">
    <div class="wr-hidden-operations-nav col-lg-4">
        <a href="javascript:void(0)" onclick="showAdvanceOperation('alarm', this)" class="selected">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-key fw-stack-2x"></i>
                </span>
            Alarm Activation Settings
            <span id="alarm-configured" class="has-configured status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="alarm-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="alarm-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('temperature', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-block fw-stack-2x"></i>
                </span>
            Temperature Reading Settings
            <span id="temperature-configured" class="has-configured status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="temperature-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span class="temperature-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('encrypt-storage', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-security fw-stack-2x"></i>
                </span>
            Encryption Settings
            <span id="encrypt-storage-configured" class="has-configured status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="encrypt-storage-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="encrypt-storage-error" class="encryption-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('wifi', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-wifi fw-stack-2x"></i>
                </span>
            Wi-Fi Settings
            <span id="wifi-configured" class="has-configured status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="wifi-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="wifi-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
    </div>

    <div class="wr-hidden-operations-content col-lg-8">
        <!-- alarm -->
        <div class="wr-hidden-operation" data-operation="alarm">
            <div class="panel panel-default operation-data" data-operation="alarm" data-operation-code="ALARM">
                <div id="alarm-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Restrictions on Alarm
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#alarm-body">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configuration can be used to restrict the usage of alarm on an FireAlarm device together with all the applications using the alarm.
                            Once this configuration profile is installed on a device, corresponding users will not be able
                            to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="alarm-body" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="alarm-body">
                    <div id="alarm-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    Un-check following checkbox in case you need to disable alarm.
                    <br>
                    <br>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="alarm-enabled" type="checkbox" class="operationDataKeys" data-key="alarmEnabled" checked="checked" />
                            <span class="helper" title="Having this checked would enable Usage of alarm in the device.">
                                &nbsp;&nbsp;&nbsp;Allow use of alarm
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /alarm -->

        <!-- temperature -->
        <div class="wr-hidden-operation" data-operation="temperature">
            <div class="panel panel-default operation-data" data-operation="temperature" data-operation-code="TEMP">
                <div id="temperature-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Restrictions on Temperature
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#temperature-body">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configuration can be used to restrict the usage of temperature on an FireAlarm device together with all the applications using the alarm.
                            Once this configuration profile is installed on a device, corresponding users will not be able
                            to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="temperature-body" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="temperature-body">
                    <div id="temperature-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    Un-check following checkbox in case you need to disable temperature.
                    <br>
                    <br>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="temperature-enabled" type="checkbox" class="operationDataKeys" data-key="temperatureEnabled" checked="checked" />
                            <span class="helper" title="Having this checked would enable Usage of temperature in the device.">
                                &nbsp;&nbsp;&nbsp;Allow use of temperature
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /temperature -->

        <!-- encrypt-storage -->
        <div class="wr-hidden-operation" data-operation="encrypt-storage">
            <div class="panel panel-default operation-data" data-operation="encrypt-storage" data-operation-code="ENCRYPT_STORAGE">
                <div id="encrypt-storage-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Encryption Settings
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#encrypt-storage-body">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configuration can be used to encrypt data on an Android device, when the device is locked and
                            make it readable when the passcode is entered. Once this configuration profile is installed on a device,
                            corresponding users will not be able to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="encrypt-storage-body" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="encrypt-storage-body">
                    <div id="encrypt-storage-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    Un-check following checkbox in case you need to disable storage-encryption.
                    <br>
                    <br>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="encrypt-storage-enabled" type="checkbox" class="operationDataKeys" data-key="encryptStorageEnabled" checked="checked" />
                            <span class="helper" title="Having this checked would enable Storage-encryption in the device">
                                &nbsp;&nbsp;&nbsp;Enable storage-encryption
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /encrypt-storage -->

        <!-- wi-fi -->
        <div class="wr-hidden-operation" data-operation="wifi">
            <div class="panel panel-default operation-data" data-operation="wifi" data-operation-code="WIFI">
                <div id="wifi-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Wi-Fi Settings
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#wifi-body">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configurations can be used to configure Wi-Fi access on an Android device.
                            Once this configuration profile is installed on a device, corresponding users will not be able
                            to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="wifi-body" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="wifi-body">
                    Please note that * sign represents required fields of data.
                    <br>
                    <br>
                    <div id="wifi-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="wifi-ssid">
                            Service Set Identifier (SSID) *
                                <span class="helper" title="Identification of the wireless network to be configured.">
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                            <br>
                            ( should be 1-to-30 characters long )
                        </label>
                        <input id="wifi-ssid" type="text" class="form-control operationDataKeys" data-key="wifiSSID" maxlength="100" placeholder="[ Required field ]"/>
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="wifi-password">
                            Password
                                <span class="helper" title="Password for the wireless network.">
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                        </label>
                        <input id="wifi-password" type="text" class="form-control operationDataKeys" data-key="wifiPassword" maxlength="100" placeholder="[ Optional field ]"/>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!-- /wi-fi -->
    </div>
</div>