
<div class="row no-gutter">
    <div class="wr-hidden-operations-nav col-lg-4">
        <a href="javascript:void(0)" onclick="showAdvanceOperation('alarm', this)" class="selected">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-notification fw-stack-2x"></i>
                </span>
            Alarm Activation Settings
            <span id="alarm-configured" class="has-configured status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="alarm-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="alarm-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('temperature', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-block fw-stack-2x"></i>
                </span>
            Temperature Reading Settings
            <span id="temperature-configured" class="has-configured status-icon hidden"><i class="fw fw-ok"></i></span>
            <span id="temperature-ok" class="has-success status-icon hidden"><i class="fw fw-ok"></i></span>
            <span class="temperature-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
    </div>

    <div class="wr-hidden-operations-content col-lg-8">
        <!-- alarm -->
        <div class="wr-hidden-operation" data-operation="alarm">
            <div class="panel panel-default operation-data" data-operation="alarm" data-operation-code="ALARM">
                <div id="alarm-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Restrictions on Alarm Activation
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#alarm-body">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configuration can be used to restrict the usage of alarm on an FireAlarm device together with all the applications using the alarm.
                            Once this configuration profile is installed on a device, corresponding users will not be able
                            to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="alarm-body" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="alarm-body">
                    <div id="alarm-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    Please enter appropriate values in case you need to override default firealarm behaviour.
                    <br>
                    <br>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="trigger-temp">
                            Maximum Temperature
                            <span class="helper" title="Activate alarm when exceeding the this temperature value">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <input id="trigger-temp" type="text" class="form-control operationDataKeys" data-key="teriggerTEMP" maxlength="100" data-default="50" placeholder="[ Required field in Celsius ]">
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /alarm -->

        <!-- temperature -->
        <div class="wr-hidden-operation" data-operation="temperature">
            <div class="panel panel-default operation-data" data-operation="temperature" data-operation-code="TEMP">
                <div id="temperature-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Restrictions on Temperature
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#temperature-body">
                            <input type="checkbox" />
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                        <hr>
                        <div class="panel-title-description">
                            This configuration can be used to restrict the usage of temperature on an FireAlarm device together with all the applications using the alarm.
                            Once this configuration profile is installed on a device, corresponding users will not be able
                            to modify these settings on their devices.
                        </div>
                    </h2>
                </div>
                <div id="temperature-body" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="temperature-body">
                    <div id="temperature-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    Please enter appropriate values in case you need to override default firealarm behaviour.
                    <br>
                    <br>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="time-interval">
                            Time Interval
                            <span class="helper" title="Time interval for the temperature feeds">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <input id="time-interval" type="text" class="form-control operationDataKeys" data-key="timeINTERVAL" maxlength="100" data-default="30" placeholder="[ Required field Type in Seconds ]">
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /temperature -->
    </div>
</div>
<script type="text/javascript">
    showAdvanceOperation('alarm', this);
</script>