<div class="container container-bg  white-bg  " xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <div class=" margin-top-double">
        <div class="row row padding-top-double padding-bottom-double margin-bottom-double  ">
            <div class="col-lg-12  margin-top-double">
                <h2 class="grey ">Groups</h2>
                <hr>
                <div id="ast-container" class="ast-container list-view">
                    <!-- no devices found -->
                    <div class="container-fluid wr-content-alt">
                        <div class="ctrl-info-panel col-md-6 col-centered">
                            <h2>Loading...</h2>
                        </div>
                    </div>
                    <!-- /no groups found -->
                </div>

                <div id="no-groups-div-content" class="hide">
                    <!-- no groups found -->
                    <div class="container-fluid wr-content-alt">
                        <div class="ctrl-info-panel col-md-6 col-centered">
                            <h2>You don't have any Groups registered at the moment.</h2>
                            <p>
                                <a href="add-group" class="cu-btn add-group-link">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-add fw-stack-1x"></i>
                    </span>
                                    Add New Group
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- /no groups found -->
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-double padding-double">

    </div>
</div>