.wr-asset-type-switcher {
    float: left;
    padding-right: 0;
    /*position: absolute;*/
    top: 0;
    left: 0;
    height: auto;
    width:auto;
}

.wr-asset-type-switcher span.btn-asset{
    margin-right: 0px;
}

.wr-asset-type-switcher a.switcher-link{
    color:#fff;
    height: 54px;
    line-height: 50px;
    font-size:18px;
    font-weight: 100;
    padding-left:15px;
    padding-right:20px;
    background-color:#2374c8;
    border-right:1px solid #3084db;
}

.wr-asset-type-switcher a.switcher-link:hover {
    background-color:#1965b2;
    text-decoration: none;
}

.navbar-nav > li > a {
    height: 54px;
    padding: 0 20px 0 0;
    line-height: 54px;
    color: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
}

.wr-action-btn-bar{
    background-color: #2374c8;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.switcher-link{
 text-transform: uppercase;
}

/*===========Tiles===========*/

.wr-stats-board-tile {
    background: #11375B;
    color: #fff;
    padding: 10px 15px;
    height: 110px;
    margin-bottom: 10px;
}

.tile-name {
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
}

.tile-icon {
    width: 25%;
    float: left;
    margin-top: 10px;
}

.tile-icon .fw {
    font-size: 40px;
}

.tile-stats {
    width: 75%;
    float: right;
    font-size: 27px;
    font-weight: 400;
    text-align: right;
}

.tile-stats-free {
    font-size: 13px;
    display: block;
    text-align: right;
}

.tile-stats-free a {
    color: #B4C2D0;
    text-decoration: none;
    display: inline-block;
    padding: 3px 5px 1px;
}

/*=======List===========*/

.ast-container.list-view .ctrl-wr-asset {
    width: 100%;
    min-height: 50px;
    margin: 0;
    height: auto;
}

.ast-container.list-view .itm-ast {
    display: block;
    width: auto;
}

.ast-container.list-view .itm-select {
    position: static;
    float: left;
}

.ast-container.list-view .ast-img {
    width: 50px;
    padding-bottom: 0;
    height: auto;
    display: inline-block;
    float: left;
    margin-left:20px;
}

.ast-container.list-view .ast-desc span:before {
    width: 0;
}

.ast-container.list-view .ast-title {
    height: inherit;
    float: left;
    margin-left: 20px;
}

.ast-container.list-view .ast-model {
    float: right;
    margin: 0 20px;
    text-align: right;
}

.ast-container.list-view h3.ast-name, .ast-container.list-view .ast-auth {
    margin: 0;
}

.ast-container.itm-select {
    position: absolute;
    right: 10px;
    background: #fafafa;
    width: 20px;
    height: 20px;
}

.itm-ast{
    border: 0px;
}

.ctrl-wr-asset{
    padding: 10px;
}

/* checkbox style */
.wr-input-control.checkbox {
    display: inline-block;
    margin: 0 10px 0 0;
    cursor: pointer;
}
.wr-input-control.checkbox  > input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
.wr-input-control.checkbox .helper {
    padding-left: 23px;
    position: relative;
}
.wr-input-control.checkbox .helper:before {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    content: "";
    text-indent: -9999px;
    border: 2px #eaf0f1 solid;
    z-index: 1;
    opacity: 1;
    top: 0;
    left: 0;
}
.wr-input-control.checkbox input[type="checkbox"]:checked + .helper:before {
    border: 2px #526A84 solid;
}
.wr-input-control.checkbox input[type="checkbox"]:checked + .helper:after {
    position: absolute;
    display: block;
    content: "\e631";
    font-size: 7pt;
    height: 16px;
    width: 16px;
    line-height: 16px;
    z-index: 2;
    top: 2px;
    margin-top: 0;
    left: 2px;
    margin-left: 0;
    text-align: center;
    background: #526A84;
    color: #fff;
    font-family: fontwso2;
}
.wr-input-control.checkbox input[type="checkbox"]:not(:checked) + .helper:after {
    display: none;
}
.wr-input-control.checkbox input[type="checkbox"]:disabled + .helper:before {
    cursor: default;
    background: #e6e6e6;
}
.wr-input-control.checkbox input[type=checkbox]:disabled + .helper:after {
    color: #8a8a8a;
}
.wr-input-control.checkbox:hover input:not(:disabled) + .helper:before {
    border-color: #526A84;
}
.wr-input-control.checkbox:active input:not(:disabled) + .helper:before {
    border-color: #526A84;
}